<mat-card class="home-card">
  <mat-card-header>
    <mat-card-title>
      PocketShelf: Request Form!
    </mat-card-title>
  </mat-card-header>
</mat-card>

<form [formGroup]="shoppingForm" (ngSubmit)="submitForm()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Fruits</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div formGroupName="fruitGroup">
        <div *ngFor="let item of fruits.fresh1.descriptions">
          <mat-checkbox formControlName="{{item.description}}">{{item.description}}</mat-checkbox>
        </div>
        <div *ngFor="let item of fruits.canned.descriptions">
          <mat-checkbox formControlName="{{item.description}}">{{item.description}}</mat-checkbox>
        </div>
        <div *ngFor="let item of fruits.dried.descriptions">
          <mat-checkbox formControlName="{{item.description}}">{{item.description}}</mat-checkbox>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Vegetables</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div formGroupName="vegetableGroup">
        <div *ngFor="let item of vegetables.fresh.descriptions">
          <mat-checkbox formControlName="{{item.description}}">{{item.description}}</mat-checkbox>
        </div>
        <div *ngFor="let item of vegetables.canned.descriptions">
          <mat-checkbox formControlName="{{item.description}}">{{item.description}}</mat-checkbox>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <button mat-raised-button type="submit">Submit</button>
</form>
