    <div class="flex-row">
      <div class="flex-1">

        <mat-card class="search-card">
          <mat-card-header>
            <mat-card-title class="volunteer-view-title">Submitted shopping forms</mat-card-title>
          </mat-card-header>
          <mat-card>
            <mat-card>

              <div *ngFor="let form of servedForms">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Fruits</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                  <div *ngFor="let item of form.fruitGroup.section">
                    {{ item }}
                  </div>
              </mat-card-content>
            </mat-card>
           </div>
          </mat-card>

            <!-- <mat-card>
              <mat-card-content>
                <p><strong>Zip Code:</strong> {{ form.personalInfo.zipCode }}</p>

              </mat-card-content>
            </mat-card> -->
            <!-- <div *ngIf="form"></div> -->
