<div class="flex-row">
  <div class="flex-1">

    <mat-card class="search-card">
      <mat-card-header>
        <mat-card-title class="volunteer-view-title">Submitted request forms</mat-card-title>
      </mat-card-header>
    <mat-card-content>

      <button mat-fab extended class="flew-row-right" color="primary" matTooltip="Show Inventory" matTooltipPosition="left" routerLink="/inventory/volunteer" data-test="account_box" >
        <mat-icon aria-label="Volunteer Page">apps</mat-icon>
        Inventory
      </button>
    </mat-card-content>
    </mat-card>
  </div>
</div>


<div class="flex-row">
  <div class="flex-1" *ngIf="servedForms; else formsError">
    <mat-card-content>
      <mat-nav-list class="volunteer-nav-list">
        <h3 mat-subheader>Request Forms</h3>
        <a mat-list-item *ngFor="let form of this.servedForms" class="volunteer-list-item">
          <span matListItemTitle mat-line class="form-date-name"> {{form}} {{form}} </span>
          <span matListItemLine class="form-seletions"> {{form}} </span>
        </a>
      </mat-nav-list>
    </mat-card-content>
  </div>

  <ng-template #formsError>
    <div class="flex-1" class="forms-error">
    </div>
  </ng-template>
</div>
