.input-field {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: sticky;
  height: 100px;
}

.home-card{
  background-color: maroon;
  border: 3px solid rgb(247, 213, 25);
  color: rgb(247, 213, 25);;
}
