<div class="flex-row">
  <div class="flex-1">
    <mat-card class="home-card">
      <mat-card-header>
        <mat-card-title>
          PocketShelf: brought to you by the Steven's County food shelf in collaboration with the University of Minnesota Morris!
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <li></li>
    <mat-form-field class="input-field">
      <mat-label>I am a...</mat-label>
      <mat-select [(ngModel)]="userRole" data-test="userRoleSelect">
        <mat-option>--</mat-option>
        <mat-option value="donor">Donor</mat-option>
        <mat-option value="client">Client</mat-option>
        <mat-option value="volunteer">Volunteer</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
