<div class="flex-row">
  <div class="flex-1">
    <mat-card class="home-card">
      <mat-card-header>
        <mat-card-title>
          PocketShelf: brought to you by the SC food shelf in collaboration with UMM!
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <div class="tactile-stuff">
    <mat-form-field class="input-field">
      <mat-label>I am a...</mat-label>
      <mat-select
      [(ngModel)]="userRole"
      (selectionChange)="changeRole(userRole)"
      data-test="userRoleSelect"
      required >
        <mat-option>--</mat-option>
        <mat-option value="donor">Donor</mat-option>
        <mat-option value="client">Client</mat-option>
        <mat-option value="volunteer">Volunteer</mat-option>
      </mat-select>
    </mat-form-field>
    <a class="continue-button"
    mat-raised-button
    [routerLink] = "['/requests', userRole]"
    matRipple
    [disabled]="!userRole">
      Continue
    </a>
    <a class="client-form-button"
    mat-raised-button
    [routerLink] = "['/form/client']"
    matRipple>
    Fill out a shopping form!
    </a>
    <a class="volunteer-form-button"
    mat-raised-button
    [routerLink] = "['/forms/volunteer']"
    matRipple>
    View the forms!
    </a>
    </div>
  </div>
</div>
